body {
    font-size: 16px;
    margin: 0;
}

.alert {
    text-align: center;
}

.alert-text {
    color: blue;
}

a {
    text-decoration: none;
}

ul {
    padding-left: 16px;
}

.d-flex {
    display:flex;
}

.j-c-sp-b {
    justify-content: space-between;
}

.al-it-center {
    align-items: center;
}

.li-st-none {
   list-style-type: none;

}

.top-nav {
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}

.top-nav-li {
    padding: 8px;
}

.top-nav-title {
    color: black;
    padding: 8px;
    border-radius: 8px;
}

.top-nav-title:hover {
    color: #0048ff;
    background-color: #d5d7e1;

}

.right-top-nav {
    margin-right: 16px;
}

.theme {
    color: black;
}

.btn-log-in {
    color: black;
    margin: 0 16px;
}

.btn-sign-up {
    height: 32px;
    color:white;
    background-color: black;
}

.right-breadcrumbs-nav {
    margin-right: 16px;
}

.breadcrumbs-container {
    border-bottom: 1px solid gray;
}

.breadcrumbs {
    margin: 8px 0;
}

.breadcrumbs-item {
    padding: 0px 8px;
    margin-left: 8px;
}

.breadcrumbs-item-title {
    color: black;
}

.breadcrumbs-item-title:hover {
    text-decoration: underline;
}

.left-nav-list {
   padding: 16px;
}

.left-nav-title {
    color: black;
}

.left-nav-container {
    width: 350px;
}

.main {
    padding: 16px;
}


.css {
    color: blue;

}

.main-content-text {
    text-decoration: underline;
}

.html {
    color: blue;
}


.right-nav-list {
    padding: 16px;
}


.right-nav-title {
    color: black;
}

.right-nav-title:hover {
    color: blue;
}

.right-nav-container {
    width: 300px;
    border-left: 2px solid gray;
    

}

.footer-container {
    border-top: 1px solid gray;
    padding: 8px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f9f9fb;
    color: BLACK;

}




